@font-face {
  font-family: "Avenir Medium";
  src: url("./fonts/Avenir-Medium.otf");
}

@font-face {
  font-family: "Avenir Book";
  src: url("./fonts/Avenir-Book.otf");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("./fonts/Avenir-Roman.otf");
}

.social {
  font-size: 1.75em;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 0.125em;
}

.hero {
  figure.feather {
    @media (max-width: 1024px) {
      width: 320px;
      height: 320px;
      margin: auto;
      display: block;
    }
    @media (max-width: 769px) {
      width: 240px;
      height: 240px;
      margin: auto;
      display: block;
    }
  }
  &.is-fullheight-with-navbar {
    min-height: calc(100vh - 68px);
    height: calc(100vh - 68px);
  }
  .navbar {
    .navbar-brand {
      padding: 0 8px;
    }
    background-color: whitesmoke;
    padding: 0;
    #navbar-menu {
      background-color: inherit;
      @media (max-width: 768px) {
        width: 100vw;
      }
    }
  }
  h2.landing-subtitle.subtitle {
    @media (max-width: 768px) {
      margin-top: -3rem;
      font-size: 1.12rem;
      text-align: left;
    }
    @media (min-width: 768px) {
      margin-top: -4rem;
      margin-left: 4rem;
    }
  }
  .level {
    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

// Events Page

.hero.events.is-info {
  font-family: "Avenir Medium";
  background-color: #406ec4;
}

figure.mtns {
  border-radius: 10px;
  @media (max-width: 1024px) {
    width: 320px;
    margin: auto;
    display: block;
  }
  @media (max-width: 769px) {
    width: 240px;
    margin: auto;
    display: block;
  }
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  .navbar-burger {
    margin-top: 10px;
  }
}

.navbar-item img.logo-header {
  max-height: 3.25rem;
}

img.coverPhoto {
  margin: auto;
  margin-bottom: 2em;
  &.isNarrow {
    max-width: 300px;
  }
}

.card-image:last-child img,
.card-image .tileImage {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.columns.footer.blogpostFooter {
  background-color: transparent;
  margin-top: 2em;
  bottom: 0;
}

.navbar-menu.is-active .navbar-item {
  text-align: center;
  .buttons {
    justify-content: center;
  }
}
